<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IFPlayer</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/jumbotron-narrow.css")" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="~/js/player.js"></script>
    <script src="~/js/lua.vm.js"></script>

    <style>
        .dropdown {
            font-size: 15px;
        }

        .dropdown-submenu {
            position: relative;
            font-size: 15px;
        }

            .dropdown-submenu .dropdown-menu {
                left: 15%;
                top: 35px;
                font-size: 15px;
            }

        body {
            background-size: cover;
        }

        .count {
            background-color: white;
            font-size: large;
            vertical-align: central;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">

            <div class="row count">
                <div class="col-md-2">
                    <!-- menu -->
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <img src="~/lamp.png" width="32" height="32" style="vertical-align:middle" />
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">Help<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#" onclick="help()">Help</a></li>
                                    <li><a tabindex="-1" href="#" onclick="about()">About</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">Game<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="test" href="#">Choose<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" onclick="play('dsd')">Deep space drifter</a></li>
                                            <li><a href="#" onclick="play('tt')">Tutorial</a></li>
                                        </ul>
                                    </li>
                                    <li><a tabindex="-1" href="#" onclick="restart()">Restart</a></li>
                                    <li><a tabindex="-1" href="#" onclick="open()">Open</a></li>
                                    <li><a tabindex="-1" href="#" onclick="save()">Save</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- em -->
                <div id="gameName" class="col-md-2 count">
                ----
                </div>
                <div id="turnCount" class="col-md-2 count">
                    0
                </div>
                <div id="pointCount" class="col-md-2 count">
                    0/0
                </div>
            </div>


        </div>
    </div>
    </div>
    @RenderBody()
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
    <script>

        $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });

            console.log("~+~");
            debugger;

            $.ajax({
                url: "/Cmd.html",
                success: function (result) {
                    $("div[id='turnCount']").html("~i~");
                },
                error: function (jqXHR, exception) {
                    $("div[id='turnCount']").html("~e~");
                },
            });

            init2();
            play('dsd');

        });

        function setBackground(img)
        {
            $(document.body).css('background-image', "url('" + img + "')");
        }

        function setScore(gameName, turns, points, maxPoints) {
            $("div[id='gameName']").html(gameName);
            $("div[id='turnCount']").html(turns);

            var count = points.toString();
            if (maxPoints > 0) {
                count += "/" + maxPoints.toString();
            }

            $("div[id='pointCount']").html(count);
        }


        function init() {
            Lua.initialize();
            Lua.inject(print, "print");
            Lua.inject(setScore, "setScore");
            Lua.inject(setBackground, "setBackground");
        }


            function init2() {
                Lua.initialize();
                Lua.inject(function (s) {
                    console.log(s);
                }, "print");
                Lua.inject(function (n, t, p, m) {
                }, "setScore");
                Lua.inject(function (i) { }, "setBackground");
            }

            function init() {
            Lua.initialize();
            Lua.inject(print, "print");
            Lua.inject(setScore, "setScore");
            Lua.inject(setBackground, "setBackground");
        }

        function print(s) {
            console.log(s);
        }

    </script>

</body>
</html>




