<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
<style>
    div
    {
        border-width : 1px;
        border-color : black;
    }

</style>
</head>
<body>
    <div class="container" style="border-color : black">
    <div id="gameTxt">+++</div>
    </div>
</body>
</html>
